<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop_detail.mapper.GoodsMapper">

    <resultMap type="com.example.shop_detail.model.Goods" id="GoodsMap">
        <result property="goodsId" column="goods_id" jdbcType="INTEGER"/>
        <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
        <result property="goodsNum" column="goods_num" jdbcType="INTEGER"/>
        <result property="goodsDescription" column="goods_description" jdbcType="VARCHAR"/>
        <result property="goodsPrice" column="goods_price" jdbcType="INTEGER"/>
    </resultMap>
    
    <sql id="select_column_list">
        goods_id, goods_name, goods_num, goods_description, goods_price    </sql>
    
    <sql id="insert_column_list">
        goods_name, goods_num, goods_description, goods_price    </sql>
    
</mapper>